<!-- payment.html -->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Payment</title>
    <link rel="stylesheet" href="/styles.css" />
    <style>
      .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      button {
        position: absolute;
        display: flex;
        align-items: center;
        margin-left: 100px;
        padding: 10px 20px;
        border-radius: 5px;
        border: 1px solid var(--theme-color);
        background-color: var(--btn-background);
        color: var(--btn-text-color);
        font-size: var(--fs-5);
        font-weight: var(--fw-600);
      }

      button:hover {
        background-color: var(--btn-hover-background);
      }

      .title--2 {
        margin-top: 0;
      }

      .input {
        display: flex;
        justify-content: center;
        margin-top: 5px;
        width: 300px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h2 class="title-1">Payment</h2>
      <p class="title--2">Total Amount: Kshs <span id="total-price"></span></p>
      <form id="paymentForm" onsubmit="processPayment(event)">
        <input
          type="text"
          class="input"
          id="name"
          placeholder="Enter your name"
          required
        />

        <input
          type="text"
          class="input"
          id="address"
          placeholder="Enter Shipping Address"
          required
        />

        <input
          type="text"
          class="input"
          id="phone"
          placeholder="Enter MPESA phone number"
          required
        />
        <button type="submit" id="payBtn">Pay</button>
      </form>
    </div>

    <script>
      // Load the total amount from localStorage
      document.getElementById("total-price").textContent =
        localStorage.getItem("bookPrice");

      document
        .getElementById("payBtn")
        .addEventListener("click", async function () {
          const name = document.getElementById("name").value;
          const address = document.getElementById("address").value;
          const phone = document.getElementById("phone").value;
          const totalPrice = localStorage.getItem("bookPrice");

          if (!phone || !name || !address) {
            alert("Please fill in all the fields.");
            return;
          }

          try {
            const response = await fetch("/process-payment", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({
                name: name,
                address: address,
                phone: phone,
                amount: totalPrice,
              }),
            });

            if (response.ok) {
              alert("Payment request sent successfully.");
            } else {
              alert("Failed to process payment.");
            }
          } catch (error) {
            console.error("Error:", error);
            alert("Processing the payment done.");
          }
        });
    </script>
  </body>
</html>
